body {
  background: $bg_std;
  font-family: $font_std;
  font-size: 1.5vw;
  text-align: center;
}

h1 {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 2vw;
  font-weight: bold;
  margin: 5px;
}

p {
  text-align: center
}

form {
  text-align: center;
}
